.heading {
  background-color: #b91c1c;
  color: #fff;
}

ul {
  border: 1px solid #b91c1c;
  padding: 10px;
}

ul li {
  font-weight: bold;
  color: #793c3c;
  cursor: pointer;
}

ul li:hover {
  background-color: #691414;
  color: #fff;
}
